@import'./main.scss';
@import'./tamplates.scss';
@import'./colors.scss';

.about_wrap{
    margin-top: 209px;
}

.about_info{
    display: flex;
    justify-content: space-between;

}

.about_info_text{
    width: 40%;
}


.btn_slider{
    @extend %btn_slider;
    margin-bottom: 131px;
}

.about_info_title{
    width: 582px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $color_white;
    margin-bottom: 30px;
    span{
        color: $color_purple;
    }
}

.about_info_subtitle{
    width: 550px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.045em;
    color: $color_white;
    margin-bottom: 148px;
}

.about_info_pictures{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 34.8rem;
    height: 10.7rem;
}


.img_about{
    position: absolute;
    top: 12%;
    right: 0%;
    width: 11.75rem;
    height: 11.75rem;
}

.about_card{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
//............. Pop Up style

.about_popup_wrapper{
    display: flex;
    justify-content: space-between;
}

.popup_cards{
    position: relative;


}
.popup_cards_one{
    width: 26rem;
    height: 10.625rem;
    border: 1px solid #fff;
    border-radius: 15px;

}

.popup_cards_dublicate{
    position: absolute;
    width: 26rem;
    height: 10.625rem;
    top: 0;
    left: 0;
    background-color: $color_gray;
    border-radius: 15px;
    transform: translate(-8.5px ,-3.7px);
}

.popup_cards_dublicate_sub{
    padding: 1rem 1.55rem 2rem 1.5rem;
    color: $color_white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.04em;
        span{
            color: $color_purple;
        }
}

// ......Button 'Know more'


.know_more{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            width: 25px;
            height: 25px;

        }
}

.btn_know_more{
    width: 207px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_background;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $button_color;

}


//..................Adaptive

//(1200px)

@media (max-width:1200px){
    .popup_cards_one{
        width: 24rem;
        height: 9.5rem;
    }
    
    .popup_cards_dublicate{
        width: 24rem;
        height: 9.5rem;

    }
    
    .popup_cards_dublicate_sub{
        font-size: 18px;

    }
}

//(1100px)

@media (max-width:1100px) {
    
    .about_info{

    }

    .about_info_text{
        width: 45%;
    }

    .about_info_pictures{
        width: 45%;
    }

    .about_info_title{
        max-width: 36rem;
        font-size: 27px;
        line-height: 1.5;
    }

    .about_info_subtitle{
        max-width: 34rem;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.045em;
        color: $color_white;
        margin-bottom: 9.25rem;
    }

    .logo{
        width: 34rem;
        height: 9.7rem;
    }
    
    
    .img_about{
        position: absolute;
        top: 16%;
        right: 0%;
        width: 10rem;
        height: 10rem;
    }
    
    .about_popup_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .popup_cards{
        position: relative;
        margin-top: 20px;
    }
 
}