@import'./main.scss';


//...............About background

.about_background{
    position: relative;
}

.about_small_animation{
    position: absolute;
    top: 1250px;
    left: 315px;
    z-index: -99;
}

.about_big_animation{
    position: absolute;
    top: -400px;
    transform: scale(1.5);
    z-index: -99;
}

.about_img_down{
    position: absolute;
    top: 2130px;
    right: -20px;
    z-index: -99;
}

//...........................
.main_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 327px;
    span{
        color: $color_purple;
    }
}

.title{
    @extend %title_style;
    margin-bottom:50px;
    text-align: center;

}

.description{
    @extend %subtitle_style;
    margin-bottom: 50px;
    text-align: center;
    
}

.btn_start{
    width: 183px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %btn_primary;
        a{
            text-decoration: none;
            color: $color_gray;
            @extend %fs-normal;
        }
}

.extra__info_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 236px;
    span{
        color: $color_purple;
    }
}

.extra_info_text{
    color: $color_white;
}

.extra_info_text_ttitle{
    font-weight: 600;
    font-size: 32px;
    line-height: 146%;
    letter-spacing: 0.04em;
    margin-bottom: 30px;

}

.extra_info_text_subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.045em;
}

.extra__info_picture{
    img{
        width: 385px;
        height: 326px;
    }
}

// ............About us section

.about_section{
    // background: url(./../img/logo_second.svg) no-repeat;
    // background-position: 50% 50%;
    // background-size: 223px 267px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: $color_white;
        span{
            color: #2b3649;
        }
}

.about_section_small{
    display: flex;
    justify-content: space-around;
    margin-bottom: 173px;
}

.first_section_small, .second_section_small{
    width: 320px;
    height: 100px;
    background: linear-gradient(200.75deg, #07EDD2 2.03%, #9C63F7 93.26%);
    border-radius: 15px;
}

.first_section_small{
    padding: 15px 41.5px;
}

.second_section_small{
    padding: 14.5px 16px;
}

.about_section_big{
    display: flex;
    justify-content: space-between;
    margin-bottom: 173px;
}

.first_section_big, .second_section_big{
    width: 400px;
    height: 100px;
    background: linear-gradient(200.75deg, #07EDD2 2.03%, #9C63F7 93.26%);
    border-radius: 15px;
}

.first_section_big{
    padding: 14.5px 24.5px;
}

.second_section_big{
    padding: 16px 26.5px;
}

.why_daiwo{
    margin-bottom: 100px;
    color: $color_white;
        span{
            color: #9C63F7;
        }
}

.why_daiwo_title{
    font-weight: 600;
    font-size: 32px;
    line-height: 146%;
    letter-spacing: 0.045em;
    margin-bottom: 30px;
}

.why_daiwo_description{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.045em;
}

.about_daiwo_card{
    background: url(./../img/aboutus_image2.svg) no-repeat;
    background-position: 100% 50% ;
    background-size: 608px 523px ;
}

.daiwo_card{
    position: relative;
    margin-bottom: 107px;

}

.daiwo_card_one{
    width: 544px;
    height: 269px;
    border: 1px solid #fff;
    border-radius: 15px;
}

.daiwo_card_two{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 544px;
    height: 269px;
    top: 0;
    left: 0;
    background-color: $color_gray;
    border-radius: 15px;
    transform: translate(-12px ,-10px);
}

.card_text{
    color: $color_white;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.045em;
    
        span{
            color: $color_purple;
        }
}

.btn_start_card{
    width: 183px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    @extend %btn_primary;
        a{
            text-decoration: none;
            color: $color_gray;
            @extend %fs-normal;
        }
}