@import'./colors.scss';
@import'./tamplates.scss';

.app{
    max-width: 1440px;
    margin: auto auto;
}

body{
    height: 100%;
    font-family: 'Kanit', sans-serif;
    background: $color_background;
    // overflow-x: hidden;
    // overflow: hidden;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 146%;
    letter-spacing: 0.045em;
    color: $color_white;
}





