
@import'./main.scss';




.main_wrap{
    display: flex;  
}


.main_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 0.045em;
    color: $color_white;
        span{
            color: $color_purple;
        }

}

.main_subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.045em;
    color: $color_white;
    margin-top: 40px    ;
}

.main_btn{
    display: flex;
    margin-top: 45px;
}

.main_btn_one{
    width: 183px;
    height: 50px;
    @extend %btn_primary;
    @extend %fs-normal;
    margin-right: 20px;
}

.main_btn_two{
    width: 183px;
    height: 50px;
    @extend %btn_secondary;
    @extend %fs-normal;
}

.email{
    width: 166px;
    height: 62px;
    background: $color_gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %fs-normal;
    color: $color_white;
    margin-top: 165px;
        img{
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
}

// .............Card

.main_card{
     margin-left: 83px;

}

.card_rate{
    width: 442px;
    height: 221px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-bottom: 27px;
}

.duplicat_rate{
    width: 442px;
    height: 221px;
    background-color: $color_gray;
    border-radius: 15px;
    transform: translate(-14px ,-12px);
    display: flex;
    flex-direction: column;
    
}

.card_title{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    color: $color_purple;
    padding: 7% 0 0 10%;
}

.card_item_one{
    padding: 9% 0 0 3.5%;
    img{
        width: 410px;
        height: 56px;
    }

}

.card_air{
    width: 442px;
    height: 221px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-bottom: 27px;
}

.air_duplicat{
    width: 442px;
    height: 221px;
    background-color: $color_gray;
    border-radius: 15px;
    transform: translate(-14px ,-12px);
    display: flex;
}

.card_item_two{
    padding: 4% 0 0 20%;
    img{
        width: 207px;
        height: 195px;
    }
}