@import'./main.scss';

.service_wrap{
    display: flex;
    margin-top: 143px;
}

.service_info{
    display: flex;
    
}


.know_more{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            width: 25px;
            height: 25px;

        }
}

.btn_know_more{
    padding: 15px 10px 15px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $button_color;

}

.service_info_title{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $color_white;
    margin-bottom: 30px;
    span{
        color: $color_purple;
    }
}

.service_info_subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.045em;
    color: $color_white;
    margin-bottom: 148px;

}

.p_one{
    margin-bottom: 30px;
}

.service_info_pictures{
    position: relative;
}

.coin_one{
    position: absolute;
    width: 486px;
    height: 307px;
    top: 220px;
    left: 30px;
}

.coin_two{
    position: absolute;
    width: 519px;
    height: 315px;
    top: 170px;
    left: 220px;
    z-index: -1;

}

.service_info_extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_block{
    border-right: 1px solid #fff;
    padding-right: 57px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: $color_white;
        span{
            color: $color_purple;
        }
}

.info_block:nth-child(3){
    border-right: none;
    padding-right: 0;
}

.know_more{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            width: 25px;
            height: 25px;

        }
}

.btn_know_more{
    padding: 15px 10px 15px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $button_color;

}